
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar-wrapper {
    position: fixed;
    width: 375px;
    height: 100%;
    padding: 50px;
    border-right: 1px solid #e2e2e2;
    background-color: #fff
}

.grey-rule {
    width: 90px;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #c7c7c7
}

.social-icons {
    display: flex;
    flex-direction: flex-start;
    width: 125px;
    column-gap: 15px;
}

.social-icons img {
    width: 25px;
    height: 25px;
    opacity: .5;
}


/* still can't get this working for some reason... */
.social-icon-w-link:hover {
    opacity: 1;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
